* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 10px;
}
.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -19;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 160px;
  color: #ffff;
  font-weight: 600;
  transition: 0.85s;
}
.content h1:hover {
  -webkit-text-stroke: 2px #ffff;
  color: transparent;
}
.content a {
  color: #ffff;
  border: 1.5px solid #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  padding: 20px 50px;
  margin-top: 20px;
  text-transform: uppercase;
  /* letter-spacing: 1.2px; */
  /* font-weight: 500; */
  transition: 0.85s;
}
.content a:hover {
  color: #000;
  background-color: #fff;
  border: 1.5px solid #000;
}
.space {
  height: 500px;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}


